<p>
  <b>Hostname:</b>
  <%=h @node.hostname %>
</p>

<p>
  <b>Primaryipaddress:</b>
  <%=h @node.primaryipaddress %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>