<p>
  <b>Name:</b>
  <%=h @slicegroup.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @slicegroup.description %>
</p>


<%= link_to 'Edit', edit_slicegroup_path(@slicegroup) %> |
<%= link_to 'Back', slicegroups_path %>